In [1]:
import pandas as pd
import datetime as dt
from namestand import downscore
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [2]:
def load_shootings(path):
    df = pd.read_csv(path)
    df.columns = downscore(df.columns)
    df = df.rename(columns={"killed": "dead", "wounded": "injured" })
    df["date"] = pd.to_datetime(df["date"])
    return df

In [3]:
df = load_shootings('./data_2015.csv')[["date", "location", "dead", "injured", "article"]]

In [4]:
df.tail()

,date,location,dead,injured,article
346,2015-11-23,"Houston, TX",1,3,http://www.khou.com/story/news/crime/2015/11/2...
347,2015-11-24,"Conway, SC",0,4,http://www.live5news.com/story/30602372/4-hosp...
348,2015-11-26,"Boston, MA",1,3,http://www.bostonglobe.com/metro/2015/11/26/on...
349,2015-11-27,"Sacramento, CA",2,2,http://www.kcra.com/news/two-dead-two-injured-...
350,2015-11-27,"Colorado Springs, CO",3,9,http://www.cnn.com/2015/11/28/us/colorado-plan...

In [5]:
locations = df['location'].unique()
len(locations)

224

In [11]:
state_locations = {}
for location in locations:
    geo = geolocator.geocode(location)
    if(geo):
        state_locations[location] = {'long': geo.longitude, 'lat': geo.latitude}
    else:
        state_locations[location] = {}

In [ ]:
state_locations

In [ ]:
df.reset_index().to_json('data.json', orient='records')

In [ ]:
import json
with open('location.json', 'w') as fp:
    json.dump(state_locations, fp)